body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

h1 {
  background-color: #333;
  color: white;
  padding: 1rem;
  text-align: center;
}

section {
  margin: 2rem;
  padding: 1rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 0.5rem;
}

input,
button {
  margin-top: 0.5rem;
}

button {
  padding: 0.5rem;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

pre {
  background-color: #f4f4f4;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow-x: auto;
}
